#new-list{
    font-size: 13px;
    font-family: "Montserrat";
}

.new-list-styles .list-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-right: 1px solid #ccc;
    padding-right: 1rem;
}

.list-colors .color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.list-colors .color-picker div {
    padding: 0;
	margin: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.red-color{
    background-color: red;
}

.blue-color{
    background-color: blue;
}

.green-color{
    background-color: green;
}

.yellow-color{
    background-color: yellow;
}

.orange-color{
    background-color: orange;
}

.black-color{
    background-color: black;
}

.icon-picker {
    display: flex;
    padding-left: 1rem;
}

.color-selected {
    border: 1px solid rgb(49, 46, 46);
    transform: scale(1.5); 
}

.icon-picker .icon-box {
    margin-left: 10px;
    height: 50px;
    width: 150px;
    border: 1px solid #000;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: center;
}

.icon-picker .icon-box::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    border-left: 1px solid #000;
    scroll-behavior: smooth;
}

.icon-picker .icon-box::-webkit-scrollbar-thumb {
    background: #000;
}
  
.icon-picker .icon-box i {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.icon-picker .icon-box .icon-selected {
    transform: scale(1.5);
    padding: 2px;
}