.sidebar-container {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 25%;
    height: 100%;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px ;
    background-color: #edede9;
    font-size: small;
}

.search-bar{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    height: 30px;
    width: 90%;
    border: none;
    border-radius: 8px;
}

.search-bar input:focus {
    outline: none;
    padding: 0 8px;
}

.smart-list ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

.smart-list ul > li {
    background-color: #b3b3b3;
    width: 115px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
}

.smart-list ul li:hover {
    cursor: pointer;
    background-color: #0c15bdc8;
    color: rgb(255, 255, 255);
}

 .my-lists {
    max-height: 200px; /* Adjust this value to your desired maximum height */
    overflow-y: auto;
}

.my-lists p {
    padding-left: 15px;
    color: #acaaaa;
    margin-bottom: 5px;
}

.my-lists ul {
    margin: 0 2rem;
	padding: 0;
}

.my-lists ul li {
    padding: 0 5px;
    font-size: 14px;
    line-height: 2.3;
    display: flex;
    gap: 5px;
}

.my-lists ul li div {
    display: flex;
    gap: 5px;
}

.my-lists ul #user-list {
    display: flex;
    justify-content: space-between;
}

.my-lists ul li .trash {
    visibility: hidden;
}

.my-lists ul li:hover .trash {
    visibility: visible;
}

.my-lists ul li:hover {
    color: #ffffff;
    background-color: #707070;
    border-radius: 6px;
}

.my-lists ul li.list-active {
    background-color: #0c15bdc8;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

.list-add-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.list-add-button button {
    width: 100%;
    text-align: left;
    border: none;
    height: 25px;
    color: #848181;
}

.list-add-button button:hover {
    color: #fff;
    background-color: #707070;
}

.smart-list .lists{
    background-color: #0c15bdc8;
    color: rgb(255, 255, 255);
}